<ion-view class="appFeedback">
    <ion-nav-title>对软件反馈</ion-nav-title>
    <ion-content class="appFeedbackContent" has-bouncing="false" scrollbar-y="false">
        <form name="appFeedback">
            <div class="feedbackTitle">问题和意见</div>
            <textarea class="feedbackContent" cols="30" rows="10" ng-model="feedbackData.content" placeholder="请输入您的问题和意见" maxlength="200"></textarea>
            <div class="feedbackTitle">联系电话</div>
            <input type="text" maxlength="11" class="phoneNumber" ng-model="feedbackData.mobile" placeholder="选填，便于我们与您联系" />
            <div class="button appSbmtBtn" type="submit" ng-click="appFeedback2()">完成</div>
        </form>
    </ion-content>
</ion-view>